<?xml version="1.0" ?>

<robot name="starling2max">

    <properties
        kf="3.16e-10"
        km="7.94e-12"
    />

    <link name="base_link">
        <inertial>
            <origin rpy="0.0 90.0 0.0" xyz="0.0 0.0 0.0"/>
            <mass value="0.566"/>
            <inertia ixx="0.004669971666666667" ixy="0" ixz="0" iyy="0.003005931666666666" iyz="0" izz="0.0061061023333333336"/>
        </inertial>
        <visual>
            <origin rpy="0.0 90.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./Starling2Max.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.217 0.28700000000000003 0.129"/>
            </geometry>
        </collision>
    </link>

    <link name="prop0_link">
        <inertial>
            <origin rpy="90.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
            <origin rpy="90.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./Starling2Max7040Prop.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>
    <joint name="prop0_joint">
        <parent link="base_link"/>
        <child link="prop0_link"/>
    </joint>

    <link name="prop1_link">
        <inertial>
            <origin rpy="90.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
            <origin rpy="90.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./Starling2Max7040Prop.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>
    <joint name="prop1_joint">
        <parent link="base_link"/>
        <child link="prop1_link"/>
    </joint>

    <link name="prop2_link">
        <inertial>
            <origin rpy="90.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
            <origin rpy="90.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./Starling2Max7040Prop.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>
    <joint name="prop2_joint">
        <parent link="base_link"/>
        <child link="prop2_link"/>
    </joint>

    <link name="prop3_link">
        <inertial>
            <origin rpy="90.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
            <origin rpy="90.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="./Starling2Max7040Prop.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>
    <joint name="prop3_joint">
        <parent link="base_link"/>
        <child link="prop3_link"/>
    </joint>

</robot>